<section class="insight">
  <div class="container insight__container">
    <h2 class="insight__title heading-h2">Trending news from Coca</h2>
    <p class="insight__descr text-p-medium">
      we have some new Service to pamper you
    </p>

    <div class="swiper insight__slider">
      <div class="insight__slider-btn">
        <svg
          width="28"
          height="18"
          viewBox="0 0 28 18"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M19 2.33337L25.6667 9.00004L19 15.6667M9.00002 15.6667L2.33335 9.00004L9.00002 2.33337"
            stroke="#7E8492"
            stroke-width="3"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
      <div class="swiper-wrapper">
        <div class="swiper-slide insight__article">
          <img
            loading="lazy"
            src="./img/slide-1.jpg"
            alt="woman typing on keyboard and writing on a notes "
            width="582"
            height="332"
          />

          <div class="insight__article-head text-p-small">
            <div class="insight__article-date">
              Published in Insight
              <time datetime="24-01-30">Jan 30, 2024</time>
            </div>
            <address class="insight__article-author">by : Albert Sans</address>
          </div>
          <div class="insight__article-title heading-h5">
            What makes an authentic employee profile, and why does it matter ?
          </div>
        </div>
        <div class="swiper-slide insight__article">
          <img
            loading="lazy"
            src="./img/slide-2.jpg"
            alt="man typing on keyboard "
            width="582"
            height="332"
          />
          <div class="insight__article-head text-p-small">
            <div class="insight__article-date">
              Published in Insight
              <time datetime="24-01-30">Jan 30, 2024</time>
            </div>
            <address class="insight__article-author">by : Albert Sans</address>
          </div>
          <div class="insight__article-title heading-h5">
            How to build a Kaylen relationship with a good company
          </div>
        </div>
        <div class="swiper-slide insight__article">
          <img
            loading="lazy"
            src="./img/slide-1.jpg"
            alt="woman typing on keyboard and writing on a notes "
            width="582"
            height="332"
          />
          <div class="insight__article-head text-p-small">
            <div class="insight__article-date">
              Published in Insight
              <time datetime="24-01-30">Jan 30, 2024</time>
            </div>
            <address class="insight__article-author">by : Albert Sans</address>
          </div>
          <div class="insight__article-title heading-h5">
            What makes an authentic employee profile, and why does it matter ?
          </div>
        </div>
        <div class="swiper-slide insight__article">
          <img
            loading="lazy"
            src="./img/slide-2.jpg"
            alt="man typing on keyboard "
            width="582"
            height="332"
          />
          <div class="insight__article-head text-p-small">
            <div class="insight__article-date">
              Published in Insight
              <time datetime="24-01-30">Jan 30, 2024</time>
            </div>
            <address class="insight__article-author">by : Albert Sans</address>
          </div>
          <div class="insight__article-title heading-h5">
            How to build a Kaylen relationship with a good company
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
