<section class="testimonials">
  <div class="container testimonials__container">
    <div class="testimonials__head">
      <h2 class="testimonials__head-title heading-h2">
        What our customer are saying
      </h2>
      <p class="testimonials__head-descr">
        We are trusted numerous companies from different business to meet their
        needs
      </p>
    </div>
    <div class="testimonials__slider-wrapper">
      <div class="swiper testimonials__slider">
        <div class="swiper-wrapper testimonials__comments">
          <div class="swiper-slide testimonials__comment">
            <div class="testimonials__stars">
              <img
                loading="lazy"
                class="testimonials__stars-img"
                src="./icons/stars.svg"
                alt="comment evaluation"
                width="132"
                height="120"
              />
              <span class="testimonials__stars">5.0</span>
            </div>
            <p class="testimonials__comment-text heading-h3">
              “With Agency the results are very satisfying. wrapped with Hight
              quality and innovative design that makes a surge of visitors on my
              website”
            </p>
            <div class="testimonials__comment-author">
              <img
                class="testimonials__comment-author-avatar"
                src="../../../../img/avatar-slide-1.png"
                alt="avatar of the aftor of the comment"
              />
              <address class="testimonials__comment-author-info">
                <span class="testimonials__comment-author-name text-p-medium"
                  >Renee Wells</span
                >
                <span class="testimonials__comment-author-post"
                  >Product Designer, Quotient</span
                >
              </address>
            </div>
          </div>
          <div class="swiper-slide testimonials__comment">
            <div class="testimonials__stars">
              <img
                loading="lazy"
                class="testimonials__stars-img"
                src="./icons/stars.svg"
                alt="comment evaluation"
                width="132"
                height="120"
              />
              <span class="testimonials__stars">5.0</span>
            </div>
            <p class="testimonials__comment-text heading-h3">
              “With Agency the results are very satisfying. wrapped with Hight
              quality and innovative design that makes a surge of visitors on my
              website”
            </p>
            <div class="testimonials__comment-author">
              <img
                class="testimonials__comment-author-avatar"
                src="../../../../img/avatar-slide-1.png"
                alt="avatar of the aftor of the comment"
              />
              <address class="testimonials__comment-author-info">
                <span class="testimonials__comment-author-name text-p-medium"
                  >Renee Wells</span
                >
                <span class="testimonials__comment-author-post"
                  >Product Designer, Quotient</span
                >
              </address>
            </div>
          </div>
          <div class="swiper-slide testimonials__comment">
            <div class="testimonials__stars">
              <img
                loading="lazy"
                class="testimonials__stars-img"
                src="./icons/stars.svg"
                alt="comment evaluation"
                width="132"
                height="120"
              />
              <span class="testimonials__stars">5.0</span>
            </div>
            <p class="testimonials__comment-text heading-h3">
              “With Agency the results are very satisfying. wrapped with Hight
              quality and innovative design that makes a surge of visitors on my
              website”
            </p>
            <div class="testimonials__comment-author">
              <img
                class="testimonials__comment-author-avatar"
                src="../../../../img/avatar-slide-1.png"
                alt="avatar of the aftor of the comment"
              />
              <address class="testimonials__comment-author-info">
                <span class="testimonials__comment-author-name text-p-medium"
                  >Renee Wells</span
                >
                <span class="testimonials__comment-author-post"
                  >Product Designer, Quotient</span
                >
              </address>
            </div>
          </div>
        </div>
      </div>
      <div class="testimonials__btns">
        <button class="testimonials__btn testimonials__btn--prev">
          <svg
            width="16"
            height="14"
            viewBox="0 0 16 14"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M7.73641 13.0364C7.38494 13.3879 6.81509 13.3879 6.46362 13.0364L1.06362 7.63644C0.712143 7.28497 0.712143 6.71512 1.06362 6.36365L6.46362 0.963652C6.81509 0.612179 7.38494 0.612179 7.73641 0.963652C8.08788 1.31512 8.08788 1.88497 7.73641 2.23644L3.8728 6.10005L14.3 6.10005C14.7971 6.10005 15.2 6.50299 15.2 7.00005C15.2 7.4971 14.7971 7.90005 14.3 7.90005L3.8728 7.90005L7.73641 11.7637C8.08788 12.1151 8.08788 12.685 7.73641 13.0364Z"
              fill="#CED1D8"
            />
          </svg>
        </button>
        <button class="testimonials__btn testimonials__btn--next">
          <svg
            width="16"
            height="14"
            viewBox="0 0 16 14"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M7.73641 13.0364C7.38494 13.3879 6.81509 13.3879 6.46362 13.0364L1.06362 7.63644C0.712143 7.28497 0.712143 6.71512 1.06362 6.36365L6.46362 0.963652C6.81509 0.612179 7.38494 0.612179 7.73641 0.963652C8.08788 1.31512 8.08788 1.88497 7.73641 2.23644L3.8728 6.10005L14.3 6.10005C14.7971 6.10005 15.2 6.50299 15.2 7.00005C15.2 7.4971 14.7971 7.90005 14.3 7.90005L3.8728 7.90005L7.73641 11.7637C8.08788 12.1151 8.08788 12.685 7.73641 13.0364Z"
              fill="#CED1D8"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
