<section class="hero">
  <div class="container hero__container">
    <h2 class="hero__title heading-h2">
      Everything you need to get the attention of your <br>audience</br> 
    </h2>
    <div class="hero__touch">
<p class="hero__subtitle text-p-subtitle">
       Our digital agency helps clients develop, <br> implement and maintain successful digital<br> marketing strategies across all channels. Also<br> work with you to build your website and create<br> online businesses that grow.
      </p>
      <a href="#" class="hero__button">
          <img src="./icons/linked-path.svg" alt="text around arrow"
      width="127" height="126" class="hero__button-text"> 

        <div class="hero__button-arrow">
        <svg width="59" height="59" viewBox="0 0 59 59" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect x="15.0284" y="46.4426" width="3.85427" height="41.4334" transform="rotate(-135 15.0284 46.4426)" fill="#161A34" />
<rect x="17.8915" y="17.9634" width="3.85427" height="26.9799" transform="rotate(-90 17.8915 17.9634)" fill="#161A34" />
<rect x="44.8912" y="41.1089" width="3.85427" height="26.9799" transform="rotate(180 44.8912 41.1089)" fill="#161A34" />
</svg>
    </div>
    
    
      </a>
    </div>
</div>
  <div class="container hero__container-slider">
<div class="swiper hero__slider">
  <div class="swiper-wrapper hero__slides">
    <div class="swiper-slide hero__slide">
      <img class="hero__slide-img" src="./img/laptop-slide-1.png" alt="" loading="lazy">
    </div>
    <div class="swiper-slide hero__slide">
<img class="hero__slide-img" src="./img/group-slide-2.png" alt="" loading="lazy">
        <h4 class="hero__slide-title heading-h5">
          What we believe in
        </h4>
        <p class="hero__slide-subtitle  text-p-medium">
          Over the years at Sans, we’ve put a lot of thought into what it is that makes us who we are. The qualities that unite us, that make us such an effective team, and...
        </p>
        <a class="hero__slide-btn button-form" href="#">See Details -></a>
    </div>
    <div class="swiper-slide hero__slide">
      <img src="./img/womans-slide-3.png" alt="">
    </div>
    <div class="swiper-slide hero__slide">
      <img class="hero__slide-img" src="./img/laptop-slide-1.png" alt="" loading="lazy">
    </div>
    <div class="swiper-slide hero__slide">
<img class="hero__slide-img" src="./img/group-slide-2.png" alt="" loading="lazy">
        <h4 class="hero__slide-title heading-h5">
          What we believe in
        </h4>
        <p class="hero__slide-subtitle  text-p-medium">
          Over the years at Sans, we’ve put a lot of thought into what it is that makes us who we are. The qualities that unite us, that make us such an effective team, and...
        </p>
        <a class="hero__slide-btn button-form" href="#">See Details -></a>
    </div>
     <div class="swiper-slide hero__slide">
      <img src="./img/womans-slide-3.png" alt="">
    </div>
  </div>
  <div class="hero__slider-btn">
    <svg width="28" height="18" viewBox="0 0 28 18" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M19.0003 2.33325L25.667 8.99992L19.0003 15.6666M9.00032 15.6666L2.33366 8.99992L9.00032 2.33325" stroke="#1D1E25" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
</svg>
  </div>
</div>
  </div>
</section>
