<section class="team">
  <div class="container team__container">
    <h2 class="team__title heading-h2">
      Meet our team of creators, designers, and world-class problem solvers
    </h2>
    <p class="team__subtitle text-p-medium">
      To become the company that customers want, it takes a group of passionate
      people. Get to know the people who lead
    </p>
    <div class="swiper team__slider">
      <div class="swiper-wrapper team__slides">
        <div class="swiper-slide team__slide">
          <img
            class="team__slide-img"
            src="./img/ceo.png"
            alt="photo Arlyne Stefano"
            loading="lazy"
          />

          <div class="team__slide-info">
            <h5 class="team__slide-name">Arlyne Stefano</h5>
            <div class="team__slide-social">
              <a href="#"
                ><img
                  src="./icons/twiter-team.svg"
                  alt="icon twitter"
                  loading="lazy"
              /></a>
              <a href="#"
                ><img src="./icons/in-team.svg" alt="icon in" loading="lazy"
              /></a>
              <a href="#"
                ><img
                  src="./icons/inst-team.svg"
                  alt="icon instagram"
                  loading="lazy"
              /></a>
            </div>
          </div>
          <span class="team__slide-post text-p-medium">Founder & CEO</span>
        </div>
        <div class="swiper-slide team__slide">
          <img
            class="team__slide-img"
            src="./img/chief-1.png"
            alt="photo Katy Cristy"
            loading="lazy"
          />

          <div class="team__slide-info">
            <h5 class="team__slide-name">Katy Cristy</h5>
            <div class="team__slide-social">
              <a href="#"
                ><img
                  src="./icons/twiter-team.svg"
                  alt="icon twitter"
                  loading="lazy"
              /></a>
              <a href="#"
                ><img src="./icons/in-team.svg" alt="icon in" loading="lazy"
              /></a>
              <a href="#"
                ><img src="./icons/inst-team.svg" alt="icon instagram"
              /></a>
            </div>
          </div>
          <span class="team__slide-post text-p-medium"
            >Chief Technology Officer</span
          >
        </div>
        <div class="swiper-slide team__slide">
          <img
            class="team__slide-img"
            src="./img/cheif-2.png"
            alt="photo Roger Dzawin"
            loading="lazy"
          />

          <div class="team__slide-info">
            <h5 class="team__slide-name">Roger Dzawin</h5>
            <div class="team__slide-social">
              <a href="#"
                ><img
                  src="./icons/twiter-team.svg"
                  alt="icon twitter"
                  loading="lazy"
              /></a>
              <a href="#"
                ><img src="./icons/in-team.svg" alt="icon in" loading="lazy"
              /></a>
              <a href="#"
                ><img
                  src="./icons/inst-team.svg"
                  alt="icon instagram"
                  loading="lazy"
              /></a>
            </div>
          </div>
          <span class="team__slide-post text-p-medium"
            >Chief Technology Officer</span
          >
        </div>
        <div class="swiper-slide team__slide">
          <img
            class="team__slide-img"
            src="./img/ceo.png"
            alt="photo Arlyne Stefano"
            loading="lazy"
          />

          <div class="team__slide-info">
            <h5 class="team__slide-name">Arlyne Stefano</h5>
            <div class="team__slide-social">
              <a href="#"
                ><img
                  src="./icons/twiter-team.svg"
                  alt="icon twitter"
                  loading="lazy"
              /></a>
              <a href="#"
                ><img src="./icons/in-team.svg" alt="icon in" loading="lazy"
              /></a>
              <a href="#"
                ><img
                  src="./icons/inst-team.svg"
                  alt="icon instagram"
                  loading="lazy"
              /></a>
            </div>
          </div>
          <span class="team__slide-post text-p-medium">Founder & CEO</span>
        </div>
      </div>
      <div class="team__slider-btn">
        <svg
          width="28"
          height="18"
          viewBox="0 0 28 18"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M19 2.33356L25.6667 9.00022L19 15.6669M9 15.6669L2.33334 9.00022L9 2.33356"
            stroke="#7E8492"
            stroke-width="3"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
    </div>
    <div class="team__info">
      <h2 class="team__title-about heading-h2">
        Join our team, The one with the master touch
      </h2>
      <div class="team__text">
        <p class="team__descr text-p-medium">
          We believe it takes great people to make a great product. That’s why
          we hire not only the perfect professional fits, but people who embody
          our company values.
        </p>
        <a href="#" class="team__btn text-p-default">See Open Position -></a>
      </div>
    </div>
  </div>
</section>
