<section class="partners">
  <div class="container partners__container">
    <h2 class="partners__title text-p-medium">
      <p class="partners__title-num heading-h2">890+</p>
      some big companies that we work with, and trust us very much
    </h2>
    <ul class="partners__list">
      <li class="partners__item">
        <img
          loading="lazy"
          src="./icons/Airbnb-Logo.svg"
          alt="Airbnb logo svg"
          width="97"
          height="30"
        />
      </li>
      <li class="partners__item">
        <img
          loading="lazy"
          src="./icons/Amazon-Logo.svg"
          alt="Amazon logo svg"
          width="97"
          height="30"
        />
      </li>
      <li class="partners__item">
        <img
          loading="lazy"
          src="../../../icons/FedEx-Logo.svg"
          alt="FedEx logo svg"
          width="95"
          height="28"
        />
      </li>
      <li class="partners__item">
        <img
          loading="lazy"
          src="../../../icons/Microsoft-Logo.svg"
          alt="Microsoft logo svg"
          width="115"
          height="25"
        />
      </li>
      <li class="partners__item">
        <img
          loading="lazy"
          src="../../../icons/Google-Logo.svg"
          alt="Google logo svg"
          width="90"
          height="30"
        />
      </li>
      <li class="partners__item">
        <img
          loading="lazy"
          src="../../../icons/OLA-logo.svg"
          alt="OLA logo svg"
          width="92"
          height="32"
        />
      </li>
      <li class="partners__item">
        <img
          loading="lazy"
          src="../../../icons/Walmart-Logo.svg"
          alt="Walmart logo svg"
          width="113"
          height="27"
        />
      </li>
      <li class="partners__item">
        <img
          loading="lazy"
          src="../../../icons/OYO-Logo.svg"
          alt="OYO logo svg"
          width="79"
          height="30"
        />
      </li>
    </ul>
  </div>
</section>
