<section class="articles">
  <div class="container articles__container">
    <div class="articles__left">
      <ul class="articles__left-list">
        <li class="articles__left-item">
          <a class="articles__left-link" href="#">
            <div class="articles__left-item-img">
              <img src="./img/artic-1.png" alt="ipad on the table" />
            </div>
            <h3 class="articles__left-item-title heading-h3">
              How we perform long-running tasks using AWS services
            </h3>
            <p class="articles__left-item-subtitle text-p-medium">
              Webflow is web design tool as well as a hosting platform and CMS
              all in one. While you are probably familiar with all of these,
              they are usually entirely separate tools.
            </p>
          </a>
        </li>
        <li class="articles__left-item">
          <a class="articles__left-link" href="#">
            <div class="articles__left-item-img">
              <img src="./img/artic-2.png" alt="man at a conference" />
            </div>
            <h3 class="articles__left-item-title heading-h3">
              Layout Exploration — Simple exercise but big effect
            </h3>
            <p class="articles__left-item-subtitle text-p-medium">
              Make alternatives or other options for the design we are making.
              For example, we are creating a website design. Then there is the
              testimonial section.
            </p>
          </a>
        </li>
      </ul>
    </div>
    <div class="articles__right">
      <ul class="articles__right-list">
        <li class="articles__right-item">
          <a class="articles__right-link" href="#">
            <div class="articles__right-item-img">
              <img src="./img/artic-3.png" alt="men discussing" />
            </div>
            <h3 class="articles__right-item-title heading-h3">
              How we perform long-running tasks using AWS services
            </h3>
            <p class="articles__right-item-subtitle text-p-medium">
              Webflow is web design tool as well as a hosting platform and CMS
              all in one. While you are probably familiar with all of these,
              they are usually entirely separate tools.
            </p>
          </a>
        </li>
        <li class="articles__right-item">
          <a class="articles__right-link" href="#">
            <div class="articles__right-item-img">
              <img
                src="./img/artic-4.png"
                alt="a woman asks a man a question at a meeting"
              />
            </div>
            <h3 class="articles__right-item-title heading-h3">
              Layout Exploration — Simple exercise but big effect
            </h3>
            <p class="articles__right-item-subtitle text-p-medium">
              Make alternatives or other options for the design we are making.
              For example, we are creating a website design. Then there is the
              testimonial section.
            </p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
