<section class="articles-slider">
  <div class="container articles-slider__container">
    <h2 class="articles-slider__title heading-h2">Articles</h2>
    <p class="articles-slider__subtitle text-p-medium">
      Complex tech decoded by engineers, business trends analyzed by experts.
    </p>
    <div class="articles-slider__btns">
      <div class="articles-slider__btn articles-slider__btn--prev">
        <svg
          width="16"
          height="13"
          viewBox="0 0 16 13"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M7.73659 12.5364C7.38512 12.8879 6.81527 12.8879 6.4638 12.5364L1.0638 7.13638C0.712326 6.78491 0.712326 6.21506 1.0638 5.86359L6.4638 0.463591C6.81527 0.112118 7.38512 0.112118 7.73659 0.463591C8.08806 0.815062 8.08806 1.38491 7.73659 1.73638L3.87299 5.59999L14.3002 5.59999C14.7973 5.59999 15.2002 6.00293 15.2002 6.49999C15.2002 6.99704 14.7973 7.39999 14.3002 7.39999L3.87299 7.39999L7.73659 11.2636C8.08806 11.6151 8.08806 12.1849 7.73659 12.5364Z"
            fill="#CED1D8"
          />
        </svg>
      </div>
      <div class="articles-slider__btn articles-slider__btn--next">
        <svg
          width="16"
          height="13"
          viewBox="0 0 16 13"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M7.73659 12.5364C7.38512 12.8879 6.81527 12.8879 6.4638 12.5364L1.0638 7.13638C0.712326 6.78491 0.712326 6.21506 1.0638 5.86359L6.4638 0.463591C6.81527 0.112118 7.38512 0.112118 7.73659 0.463591C8.08806 0.815062 8.08806 1.38491 7.73659 1.73638L3.87299 5.59999L14.3002 5.59999C14.7973 5.59999 15.2002 6.00293 15.2002 6.49999C15.2002 6.99704 14.7973 7.39999 14.3002 7.39999L3.87299 7.39999L7.73659 11.2636C8.08806 11.6151 8.08806 12.1849 7.73659 12.5364Z"
            fill="#CED1D8"
          />
        </svg>
      </div>
    </div>
    <div class="swiper articles-slider__wrapper">
      <div class="swiper-wrapper articles-slider__slides">
        <div class="swiper-slide articles-slider__slide">
          <div class="articles-slider__slide-img">
            <img src="./img/sliders-article-1.png" alt="" />
          </div>
          <h5 class="articles-slider__slide-title heading-h5">
            List of UX Designer Portfolio / Case Studies where you can make
            money
          </h5>
          <p class="articles-slider__slide-descr text-p-medium">
            Here are some portfolios / Case Studies from UX Designers that you
            can use as a reference for creating a portfolio. Two interesting
            things from their portfolio are:
          </p>
          <a href="#" class="articles-slider__slide-btn button-form"
            >Read More</a
          >
        </div>
        <div class="swiper-slide articles-slider__slide">
          <div class="articles-slider__slide-img">
            <img src="./img/slider-article-2.png" alt="" />
          </div>
          <h5 class="articles-slider__slide-title heading-h5">
            Skyrocketing in The Designing Career, Why Not?
          </h5>
          <p class="articles-slider__slide-descr text-p-medium">
            Ever thought of jumping into the world of design as a career? If
            not, you may want to look at what the word ‘design’ actually means.
            Design is a method of designing aesthetic actions that are carried
            out.
          </p>
          <a href="#" class="articles-slider__slide-btn button-form"
            >Read More</a
          >
        </div>
        <div class="swiper-slide articles-slider__slide">
          <div class="articles-slider__slide-img">
            <img src="./img/slider-article-3.png" alt="" />
          </div>
          <h5 class="articles-slider__slide-title heading-h5">
            Elements that may be missed when designing the UI
          </h5>
          <p class="articles-slider__slide-descr text-p-medium">
            This is an article that talks about the little elements that are
            often overlooked when designing UI.
          </p>
          <a href="#" class="articles-slider__slide-btn button-form"
            >Read More</a
          >
        </div>
        <div class="swiper-slide articles-slider__slide">
          <div class="articles-slider__slide-img">
            <img src="./img/sliders-article-1.png" alt="" />
          </div>
          <h5 class="articles-slider__slide-title heading-h5">
            List of UX Designer Portfolio / Case Studies where you can make
            money
          </h5>
          <p class="articles-slider__slide-descr text-p-medium">
            Here are some portfolios / Case Studies from UX Designers that you
            can use as a reference for creating a portfolio. Two interesting
            things from their portfolio are:
          </p>
          <a href="#" class="articles-slider__slide-btn button-form"
            >Read More</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
