<section class="hero">
  <div class="container hero__container">
    <h2 class="hero__title heading-h2">Activity & Updates</h2>
    <p class="hero__subtitle text-p-subtitle">
      Our biggest challenge is making sure we're <br />
      always designing and building products that <br />
      will help you run your business better.
    </p>
  </div>
  <div class="container hero__slider-container">
    <div class="hero__buttons">
      <button data-f="all" class="hero__button">View all</button>
      <button data-f="Design" class="hero__button">Design</button>
      <button data-f="Articles" class="hero__button">Articles</button>
      <button data-f="Product" class="hero__button">Product</button>
      <button data-f="Software" class="hero__button">
        Software Development
      </button>
      <button data-f="Customer" class="hero__button">Customer Success</button>
    </div>
    <div class="swiper hero__slider">
      <div class="swiper-wrapper hero__slider-wrapper">
        <div class="swiper-slide hero__slide Articles">
          <div class="hero__slide-img">
            <img src="./img/blog-1.png" alt="" />
          </div>
          <span class="hero__slide-date"
            >Published in Insight Jan 30, 2021</span
          >
          <h5 class="hero__slide-title heading-h5">
            Practice making User Flow
          </h5>
          <p class="hero__slide-subtitle">
            In this article, we'll cover how to <br />
            create user flows
          </p>
        </div>
        <div class="swiper-slide hero__slide Design">
          <div class="hero__slide-img">
            <img src="./img/blog-2.png" alt="" />
          </div>
          <span class="hero__slide-date"
            >Published in Insight Jan 30, 2021</span
          >
          <h5 class="hero__slide-title heading-h5">
            Overview of the Design Principles
          </h5>
          <p class="hero__slide-subtitle">
            What are Design Principles?… To understand design principles, we
            first discuss the principles.
          </p>
        </div>
        <div class="swiper-slide hero__slide Product">
          <div class="hero__slide-img">
            <img src="./img/blog-3.png" alt="" />
          </div>
          <span class="hero__slide-date"
            >Published in Insight Jan 30, 2021</span
          >
          <h5 class="hero__slide-title heading-h5">
            Using Grid in website design
          </h5>
          <p class="hero__slide-subtitle">
            Andi: "What's the grid like?" Toni: <br />
            “Like below…”
          </p>
        </div>
        <div class="swiper-slide hero__slide Software">
          <div class="hero__slide-img">
            <img src="./img/blog-1.png" alt="" />
          </div>
          <span class="hero__slide-date"
            >Published in Insight Jan 30, 2021</span
          >
          <h5 class="hero__slide-title heading-h5">
            Practice making User Flow
          </h5>
          <p class="hero__slide-subtitle">
            In this article, we'll cover how to create user flows
          </p>
        </div>
      </div>
      <div class="hero__slider-button">
        <svg
          width="28"
          height="18"
          viewBox="0 0 28 18"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M18.9998 2.33325L25.6665 8.99992L18.9998 15.6666M8.99984 15.6666L2.33317 8.99992L8.99984 2.33325"
            stroke="#7E8492"
            stroke-width="3"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
    </div>
  </div>
</section>
